/*
Guia 18 = Aplicación Biblioteca Spring (Videos 1-14)
@author JimeM
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@100&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.row {
    margin: 0 !important;
}

.egg__navbar{
    font-family: 'Montserrat', sans-serif;
}

.egg__navbar-logo{
    margin-left: 2rem;
    width: 30%;
}

a.dropdown-item:hover{
    background-color: #ffe590 !important;
}

.egg__content{
    background-color: #e6f7fe;
    background-image: url(../img/FondoZoom_1.jpg);
    background-size: contain;
    background-blend-mode: multiply;
    padding: 2rem 2rem 5rem 2rem;
}

.egg__footer--top{
    position: absolute;
    top: 1rem;
    right: 4rem;
}

.egg__footer{
    background-color: #ffffff;
    font-family: 'Rokkitt', serif;
    font-weight: bolder;
    position: relative;
}